---
import Layout from "../../layouts/Layout.astro";
import { servicesList } from "../../content/services";

export async function getStaticPaths() {
  return servicesList.map(
    ({ name, caption, imgUrl, description, benefits, aftercare, prices }) => {
      return {
        params: { name },
        props: {
          name,
          caption,
          imgUrl,
          description,
          benefits,
          aftercare,
          prices,
        },
      };
    }
  );
}

const { name, caption, imgUrl, description, benefits, aftercare, prices } =
  Astro.props;
---

<Layout title={name}>
  <main>
    <div class="container my-5">
      <div class="row">
        <div class="col-12 col-lg-7">
          <div class="d-flex justify-content-center">
            <img
              src={imgUrl}
              alt={name}
              class="img-fluid rounded-circle w-50"
            />
          </div>
          <h1 class="display-3 fw-bold text-first text-center">{name}</h1>
          <h2 class="display-6 fw-bold text-first">{caption}</h2>
          <p class="lead">{description}</p>
          <h2 class="display-6 fw-bold text-first">Beneficios</h2>
          {benefits.map((i) => <p class="lead">• {i}</p>)}
          <h2 class="display-6 fw-bold text-first">Cuidados Posteriores</h2>
          {aftercare.map((i) => <p class="lead">• {i}</p>)}
        </div>
        <div class="col-12 col-lg-5 py-3 px-5 bg-second rounded shadow">
          <h2 class="display-5 fw-bold text-first text-center">Precios</h2>
          {
            prices.map((j) => (
              <div class="row my-2">
                <p class="pe-3 fst-italic text-uppercase">
                  {j.name}
                  <span class="float-end">$ {j.price}</span>
                </p>
              </div>
            ))
          }
        </div>
      </div>
    </div>
    <div class="conatiner bg-second rounded shadow">
      
    </div>
  </main>
</Layout>