---
import Layout from "../layouts/Layout.astro";

import principalMovil from "../../public/images/banner-movil.png";
import principalDesktop from "../../public/images/banner-desktop.png";
import servicio from "../../public/images/servicios/microblading.jpg";
---

<Layout title="Claudia Secrets">
  <main>
    <header class="container-fluid p-0">
      <div class="card bg-dark text-white border-0 rounded-0">
        <img
          src={principalMovil.src}
          class="card-img d-md-none rounded-0"
          alt="principal"
        />
        <img
          src={principalDesktop.src}
          class="card-img d-none d-md-block rounded-0"
          alt="principal"
        />
        <div
          class="card-img-overlay px-4 py-5 p-md-5 my-5 text-start"
          data-aos="zoom-in"
        >
          <p class="text-white display-3 display-md-2 montserrat-bold">
            Lorem ipsum, dolor sit amet consectetur adipisicing.
          </p>
        </div>
      </div>
    </header>

    <div class="d-flex justify-content-around my-5">
      <button class="btn btn-outline-first btn-lg border-2 rounded-0 w-25"
        >PROGRAMAR CITA</button
      >
      <button class="btn btn-outline-first btn-lg border-2 rounded-0 w-25"
        >PROGRAMAR CONSULTA 0NLINE</button
      >
    </div>

    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 my-3">
          <div class="row">
            <div class="col-4 px-0">
              <img src={servicio.src} alt="servicio" class="img-fluid" />
            </div>
            <div class="col-8 p-4 bg-second">
              <div
                class="d-flex align-items-start flex-column bd-highlight mb-3"
                style="height: 200px;"
              >
                <div class="p-2 bd-highlight">
                  <p class="fs-2 text-first fw-bold">MICROBLADING</p>
                </div>
                <div class="p-2 bd-highlight">
                  <p>
                    El microblading es una técnica de maquillaje semipermanente
                    que utiliza una herramienta manual para implantar pigmento
                    en la piel, creando la apariencia de cejas más definidas y
                    naturales.
                  </p>
                </div>
                <div class="mt-auto p-2 bd-highlight">
                  <a href="" class="text-decoration-none text-first"
                    >VER PRECIOS</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 my-3">
          <div class="row">
            <div class="col-8 p-4 bg-second">
              <div
                class="d-flex align-items-start flex-column bd-highlight mb-3"
                style="height: 200px;"
              >
                <div class="p-2 bd-highlight">
                  <p class="fs-2 text-first fw-bold">MICROBLADING</p>
                </div>
                <div class="p-2 bd-highlight">
                  <p>
                    El microblading es una técnica de maquillaje semipermanente
                    que utiliza una herramienta manual para implantar pigmento
                    en la piel, creando la apariencia de cejas más definidas y
                    naturales.
                  </p>
                </div>
                <div class="mt-auto p-2 bd-highlight">
                  <a href="" class="text-decoration-none text-first"
                    >VER PRECIOS</a
                  >
                </div>
              </div>
            </div>
            <div class="col-4 px-0">
              <img src={servicio.src} alt="servicio" class="img-fluid" />
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 my-3">
          <div class="row">
            <div class="col-4 px-0">
              <img src={servicio.src} alt="servicio" class="img-fluid" />
            </div>
            <div class="col-8 p-4 bg-second">
              <div
                class="d-flex align-items-start flex-column bd-highlight mb-3"
                style="height: 200px;"
              >
                <div class="p-2 bd-highlight">
                  <p class="fs-2 text-first fw-bold">MICROBLADING</p>
                </div>
                <div class="p-2 bd-highlight">
                  <p>
                    El microblading es una técnica de maquillaje semipermanente
                    que utiliza una herramienta manual para implantar pigmento
                    en la piel, creando la apariencia de cejas más definidas y
                    naturales.
                  </p>
                </div>
                <div class="mt-auto p-2 bd-highlight">
                  <a href="" class="text-decoration-none text-first"
                    >VER PRECIOS</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 my-3">
          <div class="row">
            <div class="col-8 p-4 bg-second">
              <div
                class="d-flex align-items-start flex-column bd-highlight mb-3"
                style="height: 200px;"
              >
                <div class="p-2 bd-highlight">
                  <p class="fs-2 text-first fw-bold">MICROBLADING</p>
                </div>
                <div class="p-2 bd-highlight">
                  <p>
                    El microblading es una técnica de maquillaje semipermanente
                    que utiliza una herramienta manual para implantar pigmento
                    en la piel, creando la apariencia de cejas más definidas y
                    naturales.
                  </p>
                </div>
                <div class="mt-auto p-2 bd-highlight">
                  <a href="" class="text-decoration-none text-first"
                    >VER PRECIOS</a
                  >
                </div>
              </div>
            </div>
            <div class="col-4 px-0">
              <img src={servicio.src} alt="servicio" class="img-fluid" />
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 my-3">
          <div class="row">
            <div class="col-4 px-0">
              <img src={servicio.src} alt="servicio" class="img-fluid" />
            </div>
            <div class="col-8 p-4 bg-second">
              <div
                class="d-flex align-items-start flex-column bd-highlight mb-3"
                style="height: 200px;"
              >
                <div class="p-2 bd-highlight">
                  <p class="fs-2 text-first fw-bold">MICROBLADING</p>
                </div>
                <div class="p-2 bd-highlight">
                  <p>
                    El microblading es una técnica de maquillaje semipermanente
                    que utiliza una herramienta manual para implantar pigmento
                    en la piel, creando la apariencia de cejas más definidas y
                    naturales.
                  </p>
                </div>
                <div class="mt-auto p-2 bd-highlight">
                  <a href="" class="text-decoration-none text-first"
                    >VER PRECIOS</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 my-3">
          <div class="row">
            <div class="col-8 p-4 bg-second">
              <div
                class="d-flex align-items-start flex-column bd-highlight mb-3"
                style="height: 200px;"
              >
                <div class="p-2 bd-highlight">
                  <p class="fs-2 text-first fw-bold">MICROBLADING</p>
                </div>
                <div class="p-2 bd-highlight">
                  <p>
                    El microblading es una técnica de maquillaje semipermanente
                    que utiliza una herramienta manual para implantar pigmento
                    en la piel, creando la apariencia de cejas más definidas y
                    naturales.
                  </p>
                </div>
                <div class="mt-auto p-2 bd-highlight">
                  <a href="" class="text-decoration-none text-first"
                    >VER PRECIOS</a
                  >
                </div>
              </div>
            </div>
            <div class="col-4 px-0">
              <img src={servicio.src} alt="servicio" class="img-fluid" />
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 my-3">
          <div class="row">
            <div class="col-4 px-0">
              <img src={servicio.src} alt="servicio" class="img-fluid" />
            </div>
            <div class="col-8 p-4 bg-second">
              <div
                class="d-flex align-items-start flex-column bd-highlight mb-3"
                style="height: 200px;"
              >
                <div class="p-2 bd-highlight">
                  <p class="fs-2 text-first fw-bold">MICROBLADING</p>
                </div>
                <div class="p-2 bd-highlight">
                  <p>
                    El microblading es una técnica de maquillaje semipermanente
                    que utiliza una herramienta manual para implantar pigmento
                    en la piel, creando la apariencia de cejas más definidas y
                    naturales.
                  </p>
                </div>
                <div class="mt-auto p-2 bd-highlight">
                  <a href="" class="text-decoration-none text-first"
                    >VER PRECIOS</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 my-3">
          <div class="row">
            <div class="col-8 p-4 bg-second">
              <div
                class="d-flex align-items-start flex-column bd-highlight mb-3"
                style="height: 200px;"
              >
                <div class="p-2 bd-highlight">
                  <p class="fs-2 text-first fw-bold">MICROBLADING</p>
                </div>
                <div class="p-2 bd-highlight">
                  <p>
                    El microblading es una técnica de maquillaje semipermanente
                    que utiliza una herramienta manual para implantar pigmento
                    en la piel, creando la apariencia de cejas más definidas y
                    naturales.
                  </p>
                </div>
                <div class="mt-auto p-2 bd-highlight">
                  <a href="" class="text-decoration-none text-first"
                    >VER PRECIOS</a
                  >
                </div>
              </div>
            </div>
            <div class="col-4 px-0">
              <img src={servicio.src} alt="servicio" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-second my-5 py-5">
      <div class="row container d-flex justify-content-center">
        <div class="col-12 col-md-3">
          <img src={servicio.src} alt="" class="img-fluid rounded-circle" />
        </div>
        <div class="col-12 col-md-7">
          <p class="display-4 fw-bold text-first">CLAUDIA SECRETS</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
            minus quo cupiditate voluptates quaerat iusto dignissimos natus
            nulla, quasi non illum, voluptatum ut deserunt consequuntur odio.
            Adipisci dolores, omnis veritatis sequi accusantium, velit ipsam
            aliquam amet molestiae sunt quibusdam tempore? Quaerat, alias nisi
            laboriosam cupiditate beatae nemo eius natus, consectetur cum
            similique sapiente, dolorem numquam optio fugit labore porro quidem!
          </p>
        </div>
      </div>
    </div>
    <div class="container my-5">
      <div class="row row-cols-4">
        <div class="col p-3">
          <div class="bg-second p-3">
            <img src={servicio.src} alt="" class="img-fluid" />
          </div>
        </div>
        <div class="col p-3">
          <div class="bg-second p-3">
            <img src={servicio.src} alt="" class="img-fluid" />
          </div>
        </div>
        <div class="col p-3">
          <div class="bg-second p-3">
            <img src={servicio.src} alt="" class="img-fluid" />
          </div>
        </div>
        <div class="col p-3">
          <div class="bg-second p-3">
            <img src={servicio.src} alt="" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
    <div class="bg-second mt-5 py-5 text-center">
      <p class="display-5 text-first fw-bold">TESTIMONIOS</p>
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-4 p-3">
            <div class="p-4 bg-third text-center">
              <p>
                lorem10 Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Est iure mollitia libero laborum cupiditate iste maiores,
                quibusdam aut sint eum?
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4 p-3">
            <div class="p-4 bg-third text-center">
              <p>
                lorem10 Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Est iure mollitia libero laborum cupiditate iste maiores,
                quibusdam aut sint eum?
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4 p-3">
            <div class="p-4 bg-third text-center">
              <p>
                lorem10 Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Est iure mollitia libero laborum cupiditate iste maiores,
                quibusdam aut sint eum?
              </p>
            </div>
          </div>
        </div>
      </div>
      <a
        href=""
        class="btn btn-outline-first btn-lg border-2 rounded-0 w-25 my-5"
        >PROGRAMAR CITA</a
      >
    </div>
  </main>
</Layout>
