---
import Layout from "../layouts/Layout.astro";
import ServiceCard from "../components/serviceCard.astro";
import Gallery from "../components/gallery.astro";
import Testimonials from "../components/testimonials.astro";
//import Gallery from "../components/gallery";

import principalMovil from "../../public/images/banner-movil.png";
import principalDesktop from "../../public/images/banner-desktop.png";
import abaut from "../../public/images/abaut.jpg";

import { servicesList } from "../content/services";
import { galleryList } from "../content/gallery";
import { testimonialsList } from "../content/testimonials";
---

<Layout title="Claudia Secrets">
  <main>
    <header class="container-fluid p-0">
      <div class="card text-white border-0 rounded-0">
        <img
          src={principalMovil.src}
          class="card-img d-md-none rounded-0"
          alt="principal"
        />
        <img
          src={principalDesktop.src}
          class="card-img d-none d-md-block rounded-0"
          alt="principal"
        />
        <div
          class="card-img-overlay align-self-end align-self-md-start px-4 py-5 p-md-5"
        >
          <p class="text-white display-2 display-md-2 montserrat-bold">
            ESTÁS HECHA <br /> PARA BRILLAR.
          </p>
          <p class="text-white fs-2 display-md-2 montserrat-bold">
            VEN Y DESCUBRE <br /> TU LADO MÁS RADIANTE.
          </p>
        </div>
      </div>
    </header>
    <div
      class="row container-fluid justify-content-center justify-content-md-around my-5 mx-0 p-0"
    >
      <div class="col-11 col-md-4">
        <button
          class="btn btn-outline-first btn-lg border-2 rounded-0 w-100 my-2 my-md-0"
          >PROGRAMAR CITA</button
        >
      </div>
      <div class="col-11 col-md-4">
        <button
          class="btn btn-outline-first btn-lg border-2 rounded-0 w-100 my-2 my-md-0"
          >PROGRAMAR CONSULTA 0NLINE</button
        >
      </div>
    </div>

    <div class="container" id="servicios">
      <div class="row justify-content-center m-3">
        {
          servicesList.map((i) => (
            <ServiceCard
              direction={i.direction}
              img={i.imgUrl}
              title={i.name}
              caption={i.caption}
              description={i.description}
            />
          ))
        }
      </div>
    </div>
    <div class="bg-second container-fluid my-5 py-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-4 px-5 py-md-5">
          <img src={abaut.src} alt="" class="img-fluid" />
        </div>
        <div
          class="col-12 col-md-6 text-md-start px-5 pt-4 py-md-5 text-center text-md-start"
        >
          <p class="display-4 fw-bold text-first">CLAUDIA'S SECRET</p>
          <div class="me-md-5 text-center text-md-start">
            <p class="lead">¡Hola! Mi nombre es Claudia Vázquez.</p>
            <li class="lead">Pionera del microblading en Holguín</li>
            <li class="lead">
              Fundadora de Claudia’s Secret salón en Holguín, Cuba
            </li>
            <li class="lead">Latin Brows Artist de PhyAcademy.</li>
            <li class="lead">Registered Phlebotomy Technician.</li>
            <li class="lead">Registered medical assistant.</li>
            <li class="lead">Hyaluron pen by GM Belle Institute.</li>
            <li class="lead">Professional Aesthetics by GM Belle Institute.</li>
            <li class="lead">
              Plasma rico en plaquetas y fibrina by GM Belle Institute.
            </li>
            <li class="lead">Fibroblast/plasma pen by GM Belle Institute.</li>
            <li class="lead">
              Rejuvenecimiento para el área de los ojos by GM Belle Institute.
            </li>
            <li class="lead">
              Behind the Chair Institute, 750 hours, by Esthetician Lic. Texas.
            </li>
            <li class="lead">Barbering & cosmetology/esthetician Lic.</li>
            <li class="lead">
              Bloodborne pathogens for body and tattoo artist Lic.
            </li>
            <li class="lead">Láser hair removal apprentice.</li>
            <li class="lead">Fundadora de Claudia’s Secrets Divine LLC.</li>
          </div>
        </div>
      </div>
    </div>
    <div class="container my-5" id="galeria">
      <p class="display-5 text-center text-first fw-bold">GALERÍA</p>
      <div class="d-flex justify-content-center mt-5">
        <Gallery />
      </div>
      <!-- <div class="row">
        {
          galleryList.map((i) => (
            <div class="col-3 p-3">
              <div class="bg-second p-3">
                <img src={i} alt="" class="img-fluid" />
              </div>
            </div>
          ))
        }
      </div> -->
    </div>
    <div class="bg-second mt-5 py-5" id="testimonios">
      <p class="display-5 text-center text-first fw-bold">TESTIMONIOS</p>
      <Testimonials />
      <div class="container text-center">
        <a
          href=""
          class="btn btn-outline-first btn-lg border-2 rounded-0 w-md-25"
          >PROGRAMAR CITA</a
        >
      </div>
    </div>
  </main>
</Layout>
