---
import Layout from "../layouts/Layout.astro";
import ServiceCard from "../components/serviceCard.astro";

import principalMovil from "../../public/images/banner-movil.png";
import principalDesktop from "../../public/images/banner-desktop.png";
import abaut from "../../public/images/abaut.jpg";

interface Service {
  direction: boolean;
  img: string;
  title: string;
  caption: string;
  description: string;
}

const serviceList: Service[] = [
  {
    direction: true,
    img: "/images/servicios/microblading.jpg",
    title: "MICROBLADING",
    caption: "",
    description:
      "El microblading es una técnica de maquillaje semipermanente que utiliza una herramienta manual para implantar pigmento en la piel, creando la apariencia de cejas más definidas y naturales.",
  },
  {
    direction: false,
    img: "/images/servicios/pmu-lips.jpg",
    title: "PMU LIPS",
    caption: "(Maquillaje Permanente de Labios)",
    description:
      "El PMU lips es un tratamiento de maquillaje semipermanente que define y da color a los labios, mejorando su forma y volumen.",
  },
  {
    direction: true,
    img: "/images/servicios/tratamientos-esteticos.jpg",
    title: "TRATAMIENTOS ESTÉTICOS",
    caption: "",
    description:
      "Los tratamientos estéticos ofrecen una amplia gama de beneficios que pueden mejorar tanto la apariencia física como la salud de la piel y el bienestar emocional.",
  },
  {
    direction: false,
    img: "/images/servicios/fibroblast.jpg",
    title: "FIBROBLAST",
    caption: "",
    description:
      "El fibroblast es un tratamiento estético no invasivo que utiliza plasma para tensar la piel, mejorar arrugas y flacidez.",
  },
  {
    direction: true,
    img: "/images/servicios/cejas.jpg",
    title: "CEJAS",
    caption: "",
    description:
      "El arreglo de cejas incluye técnicas como depilación, diseño y perfilado para dar forma y definición a las cejas.",
  },
  {
    direction: false,
    img: "/images/servicios/pestañas.jpg",
    title: "PESTAÑAS",
    caption: "",
    description:
      "El arreglo de pestañas puede incluir tratamientos como extensiones, lifting o tintura para realzar la mirada.",
  },
  {
    direction: true,
    img: "/images/servicios/depilacion-laser.jpg",
    title: "DEPILACIÓN LÁSER",
    caption: "Diodo Soprano Ice",
    description:
      "La depilación láser es un método que utiliza luz láser para eliminar el vello no deseado de manera permanente luego de varias sesiones.",
  },
  {
    direction: false,
    img: "/images/servicios/depilacion-con-cera.jpg",
    title: "DEPILACIÓN CON CERA",
    caption: "",
    description:
      "La depilación con cera es un método físico que elimina el vello desde la raíz utilizando cera caliente o fría.",
  },
];
const galeryList: string[] = [
  "/images/galeria/001.jpg",
  "/images/galeria/002.jpg",
  "/images/galeria/003.jpg",
  "/images/galeria/004.jpg",
  "/images/galeria/005.jpg",
  "/images/galeria/006.jpg",
  "/images/galeria/007.jpg",
];

interface Testimonios {
  imgUrl: string;
  name: string;
  description: string;
}

const testimoniosList: Testimonios[] = [
  {
    imgUrl: "/images/testimonios/001.jpg",
    name: "ARIANA BEJERANO",
    description:
      "MIIIIIIIII PRECIOSA CLAU gracias por tanto por mis cejas por tu cariño tu amistad por ser como eres tú eres más hermosa te quiero mucho !!! Y como te lo dije hoy te mereces lo mejor del mundo ❤️ cuentas conmigo siempre.",
  },
  {
    imgUrl: "/images/testimonios/002.jpg",
    name: "LARITZA",
    description:
      "Mis primeras cajitas fueron en tus bendecidas manos estará Baños todavía con el uso de la mascarilla 😷 y recién habían abierto las carreteras para que los municipios pudieran ir a provincias y fue la mejor decisión luego volví dos veces más hasta que fuiste en busca de tus sueños BENDICIONES CLAUDIA",
  },
  {
    imgUrl: "/images/testimonios/003.jpg",
    name: "MAYELA GONZÁLEZ",
    description:
      "Mi amor bello súper complacida hace ya como 2 años me hiciste mis cajitas y mis labios 👄 no puede entregarme a mejores manos estoy súper feliz de ser tu clienta y amiga tkmmmmm y sabes que pronto estoy ahí 😘",
  },
  {
    imgUrl: "/images/testimonios/004.jpg",
    name: " ASHLEY LANDAVERDE",
    description:
      "Yo nunca me había realizado un procedimiento como el microblading o la pigmentación en los labios pero a pesar de que tenía un poquito de miedo al principio, fue lo mejor que me pudo haber pasado 😍😍😍 Estoy enamorada de los resultados y de lo bella que me dejaste. Es increíble como un cambio tan pequeño puede hacer una gran diferencia. Gracias por hacer una gran diferencia. Gracias por hacer un trabajo tan maravilloso Claudia",
  },
  {
    imgUrl: "/images/testimonios/005.jpg",
    name: "DIANYK CABRERA",
    description:
      "Bueno mi vida lo primero que me realice contigo fue mis cejitas, que prácticamente parecían que nunca me las había sacado, me las dejaste más que perfectas, la calidad de trabajo y productos es un 100% muy profesional.... también me hice una limpieza facial donde me quitaste todos los puntos blancos, la textura de mi piel es impresionante, suave, hidratada... y lo último fue la depilación láser que fue recientemente, una experiencia muy satisfactoria en tus manos es garantía de excelencia y lo más importante es el trato que brindas muy amable, atenta y confiable... súper complacida con todos los servios",
  },
  {
    imgUrl: "/images/testimonios/006.jpg",
    name: " MAITE ÁLVAREZ TANG",
    description:
      "Hola Clau encanta con tu trabajo me hice las cejas contigo hace 2 años y pronto voy por más servicios tuyos, eres una increíble me encantan tus trabajos bendiciones 🙏🏻",
  },
  {
    imgUrl: "/images/testimonios/007.jpg",
    name: "BRIANIS CLAUDIA LEIVA",
    description:
      "Yo me he hecho de todo contigo 😂😂 empezar por láser y no que cuántas cosas me he hecho, y eres la mejor ♥️ tu sabes que yo te adoro mucho mucho hace rato no voy a verte por cosas de la vida pero mañana ya de nuevo en tus manos ♥️ eres la mejor de la mejor ♥️",
  },
  {
    imgUrl: "/images/testimonios/008.jpg",
    name: "YILENA VELAZQUEZ BASULTO",
    description:
      "Yo hace dos años lo que me hice fue un blanqueamiento dental pero me encantó el resultado, y desde que ví tus trabajos de cejitas quedé fascinada con ti trabajado no te imaginas la motivación que he sentido es tanta la admiración 🙏🏻 porque tus trabajos son perfectamente hermosos y estoy muy feliz contando los días para pasar el curso contigo xq amo arreglar cejitas y quiero aprender más cómo tú 🙏🏻🙏🏻🙏🏻🙏🏻",
  },
];
---

<Layout title="Claudia Secrets">
  <main>
    <header class="container-fluid p-0">
      <div class="card bg-dark text-white border-0 rounded-0">
        <img
          src={principalMovil.src}
          class="card-img d-md-none rounded-0"
          alt="principal"
        />
        <img
          src={principalDesktop.src}
          class="card-img d-none d-md-block rounded-0"
          alt="principal"
        />
        <div class="card-img-overlay align-self-end align-self-md-start px-4 py-5 p-md-5">
          <p class="text-white display-2 display-md-2 montserrat-bold">
            ESTÁS HECHA <br /> PARA BRILLAR.
          </p>
          <p class="text-white fs-2 display-md-2 montserrat-bold">
            VEN Y DESCUBRE <br /> TU LADO MÁS RADIANTE.
          </p>
        </div>
      </div>
    </header>
    <div
      class="row container-fluid justify-content-center justify-content-md-around my-5 mx-0 p-0"
    >
      <div class="col-11 col-md-4">
        <button
          class="btn btn-outline-first btn-lg border-2 rounded-0 w-100 my-2 my-md-0"
          >PROGRAMAR CITA</button
        >
      </div>
      <div class="col-11 col-md-4">
        <button
          class="btn btn-outline-first btn-lg border-2 rounded-0 w-100 my-2 my-md-0"
          >PROGRAMAR CONSULTA 0NLINE</button
        >
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        {
          serviceList.map((i) => (
            <ServiceCard
              direction={i.direction}
              img={i.img}
              title={i.title}
              caption={i.caption}
              description={i.description}
            />
          ))
        }
      </div>
    </div>
    <div class="bg-second container-fluid my-5 py-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-4 px-5 py-md-5 text-center">
          <img src={abaut.src} alt="" class="img-fluid" />
        </div>
        <div class="col-12 col-md-8 text-md-start px-5 pt-4 py-md-5">
          <p class="display-4 fw-bold text-first">CLAUDIA SECRETS</p>
          <div class="me-5">
            <p class="lead">¡Hola! Mi nombre es Claudia Vázquez.</p>
            <p class="lead">
              Soy esteticista certificada con años de experiencia en el campo de
              la belleza y el bienestar. Desde que me gradué, he tenido la
              oportunidad de trabajar como  Medical Assistant, Latin Brows
              Artist, PMU Artist y Phlebotomy Technician, lo que me ha permitido
              desarrollar una amplia gama de habilidades y conocimientos.
            </p>
            <p class="lead">
              Como esteticista, me apasiona ayudar a las personas a realzar su
              belleza natural. Amo encontrar el mejor tratamiento personalizado
              para cada cliente, desde faciales rejuvenecedores hasta depilación
              profesional.
            </p>
            <p class="lead">
              Mis habilidades como Medical Assistant me permiten brindar un
              cuidado integral a los pacientes, asistiendo al médico en
              procedimientos médicos y proporcionando información crucial sobre
              su salud.
            </p>
            <p class="lead">
              Como Latin Brows Artist, me especializo en diseñar y aplicar cejas
              perfectas que realzan la belleza del rostro.  Estoy familiarizada
              con las últimas técnicas de microblading y micropigmentación para
              crear cejas de aspecto natural que complementan las facciones de
              cada persona.
            </p>
            <p class="lead">
              Como PMU Artist, tengo la destreza para realizar micropigmentación
              de labios, ojos y cejas, creando looks impecables y duraderos.  Me
              apasiona el arte de la micropigmentación y la posibilidad de
              mejorar la autoestima de mis clientes.
            </p>
            <p class="lead">
              Mi experiencia como Phlebotomy Technician me permite realizar
              extracciones de sangre de manera profesional y segura.  Me siento
              cómoda con las técnicas de extracción y garantizo un proceso
              rápido y sin dolor para el paciente.
            </p>
            <p class="lead">
              Mi experiencia como profesional de la belleza me ha permitido
              desarrollar una amplia gama de habilidades que me permiten brindar
              un servicio completo y personalizado a mis clientes. Estoy
              comprometida con la excelencia y con ayudar a mis clientes a
              sentirse seguros y radiantes. 😊
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container my-5">
      <div class="row row-cols-1 row-cols-md-4">
        {
          galeryList.map((i) => (
            <div class="col p-3">
              <div class="bg-second p-3">
                <img src={i} alt="" class="img-fluid" />
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <div class="bg-second mt-5 py-5 text-center">
      <p class="display-5 text-first fw-bold">TESTIMONIOS</p>
      <div class="container py-5">
        <div class="row d-flex justify-content-center">
          {
            testimoniosList.map((i) => (
              <div class="position-relative col-12 col-md-4 my-5 p-2">
                <div class="h-100 p-4 bg-third text-center shadow">
                  <img
                    src={i.imgUrl}
                    alt="testimonio"
                    class="img-fluid position-absolute top-0 start-50 translate-middle w-25 rounded-circle"
                  />
                  <p class="mt-4 montserrat-bold">{i.name}</p>
                  <p>{i.description}</p>
                </div>
              </div>
            ))
          }
        </div>
      </div>
      <a href="" class="btn btn-outline-first btn-lg border-2 rounded-0 w-md-25"
        >PROGRAMAR CITA</a
      >
    </div>
  </main>
</Layout>
