---
import Layout from "../layouts/Layout.astro";
import ServiceCard from "../components/serviceCard.astro";

import principalMovil from "../../public/images/banner-movil.png";
import principalDesktop from "../../public/images/banner-desktop.png";
import abaut from "../../public/images/abaut.jpg";

import { servicesList } from "../content/services";
import { galleryList } from "../content/gallery";
import { testimonialsList } from "../content/testimonials";
---

<Layout title="Claudia Secrets">
  <main>
    <header class="container-fluid p-0">
      <div class="card bg-dark text-white border-0 rounded-0">
        <img
          src={principalMovil.src}
          class="card-img d-md-none rounded-0"
          alt="principal"
        />
        <img
          src={principalDesktop.src}
          class="card-img d-none d-md-block rounded-0"
          alt="principal"
        />
        <div
          class="card-img-overlay align-self-end align-self-md-start px-4 py-5 p-md-5"
        >
          <p class="text-white display-2 display-md-2 montserrat-bold">
            ESTÁS HECHA <br /> PARA BRILLAR.
          </p>
          <p class="text-white fs-2 display-md-2 montserrat-bold">
            VEN Y DESCUBRE <br /> TU LADO MÁS RADIANTE.
          </p>
        </div>
      </div>
    </header>
    <div
      class="row container-fluid justify-content-center justify-content-md-around my-5 mx-0 p-0"
    >
      <div class="col-11 col-md-4">
        <button
          class="btn btn-outline-first btn-lg border-2 rounded-0 w-100 my-2 my-md-0"
          >PROGRAMAR CITA</button
        >
      </div>
      <div class="col-11 col-md-4">
        <button
          class="btn btn-outline-first btn-lg border-2 rounded-0 w-100 my-2 my-md-0"
          >PROGRAMAR CONSULTA 0NLINE</button
        >
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        {
          servicesList.map((i) => (
            <ServiceCard
              direction={i.direction}
              img={i.imgUrl}
              title={i.name}
              caption={i.caption}
              description={i.description}
            />
          ))
        }
      </div>
    </div>
    <div class="bg-second container-fluid my-5 py-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-4 px-5 py-md-5 text-center">
          <img src={abaut.src} alt="" class="img-fluid" />
        </div>
        <div
          class="col-12 col-md-8 text-md-start px-5 pt-4 py-md-5 text-center text-md-start"
        >
          <p class="display-4 fw-bold text-first">CLAUDIA'S SECRET</p>
          <div class="me-md-5 text-center text-md-start">
            <p class="lead">¡Hola! Mi nombre es Claudia Vázquez.</p>
            <p class="lead">
              Pionera del microblading en Holguín Fundadora de Claudia’s Secret
              salón en Holguín , Cuba Latin Brows Artist de PhyAcademy
              Registered Phlebotomy Technician Registered medical assistant
              Hyaluron pen by GM Belle Institute Professional Aesthetics by GM
              Belle Institute Plasma rico en plaquetas y fibrina by GM Belle
              Institute Fibroblast/ plasma pen by GM Belle Institute
              Rejuvenecimiento para el área de los ojos by GM Belle Institute
              Behind the Chair Institute 750 hours by Esthetician Lic. Texas
              barbering & cosmetology/ esthetician Lic. bloodborne pathogens for
              body and tattoo artist Lic. láser hair removal apprentice
              Fundadora de Claudia’s Secrets Divine LLC
            </p>
            <!-- <p class="lead">¡Hola! Mi nombre es Claudia Vázquez.</p>
            <p class="lead">
              Soy esteticista certificada con años de experiencia en el campo de
              la belleza y el bienestar. Desde que me gradué, he tenido la
              oportunidad de trabajar como  Medical Assistant, Latin Brows
              Artist, PMU Artist y Phlebotomy Technician, lo que me ha permitido
              desarrollar una amplia gama de habilidades y conocimientos.
            </p>
            <p class="lead">
              Como esteticista, me apasiona ayudar a las personas a realzar su
              belleza natural. Amo encontrar el mejor tratamiento personalizado
              para cada cliente, desde faciales rejuvenecedores hasta depilación
              profesional.
            </p>
            <p class="lead">
              Mis habilidades como Medical Assistant me permiten brindar un
              cuidado integral a los pacientes, asistiendo al médico en
              procedimientos médicos y proporcionando información crucial sobre
              su salud.
            </p>
            <p class="lead">
              Como Latin Brows Artist, me especializo en diseñar y aplicar cejas
              perfectas que realzan la belleza del rostro.  Estoy familiarizada
              con las últimas técnicas de microblading y micropigmentación para
              crear cejas de aspecto natural que complementan las facciones de
              cada persona.
            </p>
            <p class="lead">
              Como PMU Artist, tengo la destreza para realizar micropigmentación
              de labios, ojos y cejas, creando looks impecables y duraderos.  Me
              apasiona el arte de la micropigmentación y la posibilidad de
              mejorar la autoestima de mis clientes.
            </p>
            <p class="lead">
              Mi experiencia como Phlebotomy Technician me permite realizar
              extracciones de sangre de manera profesional y segura.  Me siento
              cómoda con las técnicas de extracción y garantizo un proceso
              rápido y sin dolor para el paciente.
            </p>
            <p class="lead">
              Mi experiencia como profesional de la belleza me ha permitido
              desarrollar una amplia gama de habilidades que me permiten brindar
              un servicio completo y personalizado a mis clientes. Estoy
              comprometida con la excelencia y con ayudar a mis clientes a
              sentirse seguros y radiantes. 😊
            </p> -->
          </div>
        </div>
      </div>
    </div>
    <div class="container my-5">
      <div class="row row-cols-1 row-cols-md-4">
        {
          galleryList.map((i) => (
            <div class="col p-3">
              <div class="bg-second p-3">
                <img src={i} alt="" class="img-fluid" />
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <div class="bg-second mt-5 py-5 text-center">
      <p class="display-5 text-first fw-bold">TESTIMONIOS</p>
      <div class="container py-5">
        <div class="row d-flex justify-content-center">
          {
            testimonialsList.map((i) => (
              <div class="position-relative col-12 col-md-4 my-5 p-2">
                <div class="h-100 p-4 bg-third text-center shadow">
                  <img
                    src={i.imgUrl}
                    alt="testimonio"
                    class="img-fluid position-absolute top-0 start-50 translate-middle w-25 rounded-circle"
                  />
                  <p class="mt-4 montserrat-bold">{i.name}</p>
                  <p>{i.description}</p>
                </div>
              </div>
            ))
          }
        </div>
      </div>
      <a href="" class="btn btn-outline-first btn-lg border-2 rounded-0 w-md-25"
        >PROGRAMAR CITA</a
      >
    </div>
  </main>
</Layout>
