---
import oo1 from "../../public/images/galeria/001.jpg"
import oo2 from "../../public/images/galeria/002.jpg"
import oo3 from "../../public/images/galeria/003.jpg"
import oo4 from "../../public/images/galeria/004.jpg"
import oo5 from "../../public/images/galeria/005.jpg"
import oo6 from "../../public/images/galeria/006.jpg"
import oo7 from "../../public/images/galeria/007.jpg"
---
<div class="row col-12 col-md-9">
  <div class="col-6 col-md-3 p-1">
    <img src={oo1.src} class="img-fluid" alt="gallery_img">
  </div>
  <div class="col-6 col-md-3 p-1">
    <img src={oo2.src} class="img-fluid" alt="gallery_img">
  </div>
  <div class="col-6 col-md-3 p-1">
    <img src={oo3.src} class="img-fluid" alt="gallery_img">
  </div>
  <div class="col-6 col-md-3 p-1">
    <img src={oo4.src} class="img-fluid" alt="gallery_img">
  </div>
  <div class="col-6 col-md-3 p-1">
    <img src={oo5.src} class="img-fluid" alt="gallery_img">
  </div>
  <div class="col-6 col-md-3 p-1">
    <img src={oo6.src} class="img-fluid" alt="gallery_img">
  </div>
  <div class="col-6 col-md-3 p-1">
    <img src={oo7.src} class="img-fluid" alt="gallery_img">
  </div>
</div>