---
interface Props {
  direction: boolean;
  img: string;
  title: string;
  caption: string;
  description: string;
}

const { direction, img, title, caption, description } = Astro.props;
---

{
  direction ? (
    <div class="card bg-second col-12 col-md-9 mb-3 p-0 rounded-0 shadow">
      <div class="row g-0">
        <div class="col-md-4">
          <img src={img} class="img-fluid" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body p-4">
            <h2 class="fs-1 card-title text-first">{title}</h2>
            <p class="fs-5 text-first lead">{caption}</p>
            <p class="card-text lead">{description}</p>
            <a
              href={"/services/" + title}
              class="text-decoration-none text-first fw-bold fst-italic lead"
            >
              Ver precios y conocer más
            </a>
          </div>
        </div>
      </div>
    </div>
  ) : (
    <div class="card flex-column-reverse flex-md-row bg-second col-12 col-md-9 mb-3 p-0 rounded-0 shadow">
      <div class="row g-0">
        <div class="d-md-none">
          <img src={img} class="img-fluid" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body p-4">
            <h2 class="fs-1 card-title text-first">{title}</h2>
            <p class="fs-5 text-first lead">{caption}</p>
            <p class="card-text lead">{description}</p>
            <a
              href={"/services/" + title}
              class="text-decoration-none text-first fw-bold fst-italic lead"
            >
              Ver precios y conocer más
            </a>
          </div>
        </div>
        <div class="d-none d-md-block col-md-4">
          <img src={img} class="img-fluid" alt="..." />
        </div>
      </div>
    </div>
  )
}
