---
interface Props {
    direction: boolean;
	img: string;
	title: string;
    caption: string;
	description: string;
}

const {direction, img, title, caption, description} =  Astro.props; 
---
<div class="col-12 col-md-8 my-3">
    {direction? (
        <div class="row justify-content-center shadow">
            <div class="col-11 col-md-4 px-0">
                <img src={img} alt="servicio" class="img-fluid" />
            </div>
            <div class="col-11 col-md-8 px-5 py-4 bg-second">
                <div class="position-relative h-100">
                    <p class="fs-1 text-first mb-0">{title}</p>
                    <p class="fs-5 text-first lead">{caption}</p>
                    <p class="lead">{description}</p>
                    <a href="" class="position-absolute bottom-0 start-0 text-decoration-none text-first fw-bold fst-italic lead">Ver precios y conocer más</a>
                </div>
            </div>
        </div>
    ) : (
        <div class="row justify-content-center flex-column-reverse flex-md-row shadow">
            <div class="col-11 col-md-8 p-4 bg-second mx-auto mx-md-0 px-5 py-4">
                <div class="position-relative h-100">
                    <p class="fs-1 text-first mb-0">{title}</p>
                    <p class="fs-5 text-first lead">{caption}</p>
                    <p class="lead">{description}</p>
                    <a href="" class="position-absolute bottom-0 start-0 text-decoration-none text-first fw-bold fst-italic lead">Ver precios y conocer más</a>
                </div>
            </div>
            <div class="col-11 col-md-4 px-0 mx-auto mx-md-0">
                <img src={img} alt="servicio" class="img-fluid" />
            </div>
        </div>
    )}
    
</div>

<div class="col-12 col-md-8 my-3">
    
  </div>